/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&display=swap');

body {
    font-family: "Cairo", sans-serif;
}

/* Color Schemes */

.nav-footer-color {
    background-color: #fafafa;
    color: #717171;
}

/* General Text Formatting */

.uppercase {
    text-transform: uppercase;
}

.headings {
    padding-top: 15px;
}

/* Navigation Section */

.navbar-nav {
    text-align: center
}

.navbar-brand img {
    border: 3px solid #e45454;
    max-width: 60px;
}

.navbar-brand-text {
    font-weight: 600;
    color: #e45454;
    font-size: 25px;
    padding: 0px 10px 0px 10px;
    vertical-align: middle;
}

.navbar-light .navbar-nav .nav-link {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #e45454;
    font-weight: 600;
}

.navbar-light .navbar-toggler {
    border: 1px solid #e45454;
}


/* Section Section */

section {
    margin-top: 80px;
    padding: 15px;
}

/* About */

.band-img-float {
    border: 3px solid #e45454;
    border-radius: 100%;
}

/* Tours */

.tour-date-item {
    padding: 60px 40px 0px 40px;
    border-left: 3px solid #e45454;
    position: relative;
}

.tour-date-item p {
    padding: 0;
    margin: 0;
}

.tour-date-item:before {
    content: attr(data-dates);
    position: absolute;
    display: block;
    left: 20px;
    top: 40px;
    font-weight: 500;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.tour-date-item:after {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #e45454;
    position: absolute;
    display: block;
    left: -7px;
    top: 40px;
    content: "";
}

/* Discography */

.album-img-float {
    border: 3px solid #e45454;
    max-width: 100px;
}

.video-section {
    background-color:#e45454;
    border-radius: 25px;
}

/* Bookings */

.contact-forms {
    padding: 15px 0px 15px 0px;
}

.contact-btn {
    background-color:#e45454;
    border: 0px solid #e45454;
    transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
}

.col-lg-8 {
    border-bottom: 3px solid #e45454;
}

.contact-links {
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-links li a i {
    color: #e45454;
    font-size: 40px;
    text-align: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}

/* Footer Section */

.footer-headings {
    padding-top: 15px;
    font-weight: 600;
}

.readme-link {
    color: #e45454;
    font-size: 25px;
    padding: 0px 0px 0px 15px;
}

.footer-links li a i {
    color: #e45454;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    width: 40px;
    height: 40px;
}

/* Media Queries */

@media (min-width:992px) {
    .navbar-brand img {
        border: 3px solid #e45454;
        max-width: 100px;
    }

    .band-img-float{
        float: left;
        margin: 0px 10px 5px 0px;
    }
    
    .album-img-float {
        float: right;
        max-width: 150px;
    }
    
    .contact-links li a i {
        color: #e45454;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #e45454;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }

    .readme-link {
        color: #717171;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }

    .footer-links li a i {
        color: #717171;
        font-size: 25px;
        text-align: center;
        padding: 5px;
        width: 40px;
        height: 40px;
        border: 3px solid #fafafa;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
    }

    .readme-link:hover,
    .footer-links li a i:hover {
        color: #e45454;
        border-color: #e45454;
    }

    .contact-links {
        padding-top: 20px;
    }

    .contact-links li {
        text-align: left;
        margin: 20px;
        display: block;
    }

    .contact-links li a i:hover {
        color: #fafafa;
        background-color: #e45454;
        border-color: #e45454;
        transform: scale(1.5);
    }
    
    .contact-btn:hover {
        background-color: #b34242; 
    }
}

@media (min-width:768px) {
    .col-lg-8>form {
        max-width: 70%;
        margin: 0 auto;
    }

    .col-lg-8 {
        border-right: 3px solid #e45454;
        border-bottom: none;
    }
}
